 


<div class="container">
  <div class="row">
    <div class="col-8">
        <div class="input-group mb-3">
          <input type="input" class="form-control rounded-0" placeholder="please enter component name" [(ngModel)]="cname" value="">
          <div class="input-group-append">
            <button (click)="compname(cname)" class="form-control btn btn-outline-primary rounded-0" type="submit">Submit</button>
          </div>

        </div>
    </div>
  </div>
</div>







 <div class="container">
  <strong>please enter name of component to load...</strong>
  <p>component names - 
     | <code>comp1</code> |
     | <code>comp2</code> |
     | <code>comp3</code> |
     | <code>comp4</code> |
  </p>
  <h1>
<ng-container *ngComponentOutlet="load"></ng-container>
  </h1>
</div>